html, body {
    -webkit-user-select: none;
    user-select: none;
}

body {
    min-width: 440px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #3d4246;
    background-color: #f8f8f8;
    border: none;
    border-width: 0;
    margin: 0;
}

input {
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: #808386;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #808386;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #808386;
}

:-ms-input-placeholder {
    color: #808386;
}

#selector {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.topPanel {
    width: 100%;
    height: 118px;
    border: none;
    border-width: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cdcdcd;
    background-color: #fafafa;
    border-spacing: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.editAreaHolder {
    position: relative;
    width: 100%;
}

.editArea {
    height: 36px;
    margin: 0;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    margin-top: 5px;
    position: relative;
}

.editArea2 {
    height: 36px;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: #f0f1f2;
    margin-top: 5px;
    position: relative;
}

.inputArea {
    position: absolute;
    outline: none;
    left: 20px;
    right: 10px;
    top: 6px;
    border: none;
    color: #555;
}

.inputArea.plainText {}

.inputArea.regularExpression {
    right: 130px;
}

.inputArea.wildCards {
    right: 80px;
}

.inputArea2 {
    position: absolute;
    outline: none;
    left: 20px;
    top: 6px;
    right: 10px;
    border: none;
    color: #555;
}

.inputArea3 {
    position: absolute;
    outline: none;
    background-color: transparent;
    left: 20px;
    top: 6px;
    right: 10px;
    border: none;
    color: #808386;
}

.inputArea3.inactive {
    color: #000000;
}

.inputArea4 {
    position: absolute;
    outline: none;
    background-color: transparent;
    left: 20px;
    top: 6px;
    right: 10px;
    border: none;
    color: #000000;
}

.patternType {
    position: absolute;
    border: none;
    color: #808080;
    right: 10px;
    top: 11px;
    width: 130px;
    display: block;
    text-align: right;
}

.ffButton {
    background-color: #e3e5e6;
    color: #555;
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin: 5px 5px 0 0;
    transition: all .15s ease-in;
}

.ffButton:hover {
    background-color: #a6aaab;
    color: #fff;
    cursor: pointer;
}

.ffButton:active {
    background-color: #808386;
    cursor: pointer;
}

#browseButton {
    width: 24px;
    border-radius: 0;
}

#findButton {
    width: 100px;
}

#findAllButton {
    width: 120px;
    /*margin-left: 5px;
    margin-right: 5px;*/
}

#replaceButton {
    width: 100px;
}

#replaceAllButton {
    width: 120px;
    /*margin-left: 5px;
    margin-right: 5px;*/
}

.editAreaHolder .wrapper {
    padding-left: 10px;
    padding-right: 5px;
}

#sddm {
    margin: 0;
    padding: 0;
    z-index: 30;
}

#sddm li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

#sddm li a {
    display: block;
    margin: 0 1px 0 0;
    padding: 0px 0px;
    width: 10px;
    height: 10px;
    background: none;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    background: url("images/menuArrow.png") no-repeat 50% 50%;
}

#optionsMenu {
    position: absolute;
    left: -5px;
    visibility: hidden;
    margin: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
}

#replaceMenu {
    position: absolute;
    left: -5px;
    visibility: hidden;
    margin: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
}

#whereMenu {
    position: absolute;
    left: -5px;
    visibility: hidden;
    margin: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
}

#fileTypesMenu {
    position: absolute;
    left: -5px;
    visibility: hidden;
    margin: 0;
    padding: 10px;
    background: #fff;
    border: 1px solid #cdcdcd;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #cdcdcd;
}

#sddm div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #ffffff;
    height: auto;
    color: #000000;
}

#sddm div a:hover:not(.separator) {
    background: #49A3FF;
    color: #FFF;
}

.bar {
    width: 100%;
    height: 38px;
    border: none;
    border-width: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cdcdcd;
    background-color: #383b3e;
    color: #fff;
    border-spacing: 0;
    padding: 0;
    visibility: hidden;
}

.block table {}

.block.collapse table {
    display: none;
}

.block .collapseButton {
    background-image: url("images/unfolded.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: left;
}

.block .collapseButton:hover {
    background-color: #f5f5f5;
}

.block .collapseButton:active {
    background-color: #c5c5c5;
}

.block.collapse .collapseButton {
    background-image: url("images/folded.png");
}

.results {
    overflow: hidden;
    position: relative;
    width: 100%;
    border: none;
    padding: 0;
}

.fileIcon img {
    padding: 5px;
}

.button img {
    border-radius: 2px;
    padding: 5px;
}

.button:hover img {
    background-color: #2b2d2f;
    cursor: pointer;
}

.button:active img {
    background-color: #c5c5c5;
    cursor: pointer;
}

.file {
    border: none;
    background-color: #f0f1f2;
    border-spacing: 0;
    padding: 8px 5px;
    position: relative;
    line-height: 16px;
}

.tableBlock {
    padding: 0;
    border: none;
    border-spacing: 0;
    margin: 0;
    font-size: 0.9em;
}

.tableBlock table {
    border-collapse: collapse;
}

.tableBlock td {
    border: none;
    padding: 3px 0px;
    border-spacing: 0;
    font-size: 12px;
}

.tableBlock td:first-child {
    text-align: right;
    width: 40px;
}

.tableBlock td + td {
    padding: 3px 50px;
}

.tableBlock td span {
    padding: 4px 1px;
    color: #fff;
    border-radius: 2px;
}

.tableBlock tr {
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.tableBlock tr {
    background-color: #fff;
    height: 28px;
}

.tableBlock tr:hover {
    background-color: #f1f1f1;
    border: 1px 0 1px 0 solid #cdcdcd;
}

.tableBlock tr:active {
    background-color: #eaeaea;
}

.tableBlock tr.selected {
    background-color: #eaeaea;
}

.withLogo {
    /*min-height: 400px;
    height: 100%;
    background: url("images/logoBackground.png") no-repeat 50% 30%;*/
}

#resultsNotFound {
    display: none;
    padding: 20px;
}

#resultsNotFound p {
    margin: 0;
}

#resultsNotFoundKey {
    font-weight: bold;
}

.scrollbox {
    overflow: hidden;
    height: 100%;
    overflow-y: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.scrollbox.active {
    background: white;
}

.file .collapseButton + img {
    position: absolute;
    top: 8px;
    left: 25px;
}

.collapseButton {
    position: absolute;
    top: 7px;
    left: 5px;
}

.path {
    box-sizing: border-box;
    padding-left: 40px;
    width: 100%;
}

.path span {
    display: inline-block;
}