html, body {
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
}

body {
    font-family: "Arial";
    font-size: 13px;
    color: #3d4246;
    background-color: #f8f8f8;
    border: none;
    border-width: 0;
    margin: 0;
    overflow: hidden;
}

#selector {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.topPanel {
    width: 100%;
    height: 118px;
    border: none;
    border-width: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cdcdcd;
    background-color: #fafafa;
    border-spacing: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.editAreaHolder {
    position: relative;
    width: 100%;
}

.editArea {
    height: 24px;
    margin: 0;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}

.inputArea {
    position:absolute;
    outline: none;
    left: 20px;
    top: 0px;
    right: 140px;
    border: none;
}

.patternType{
    position:absolute;
    border: none;
    color: #cdcdcd;
    right: 10px;
    top: 3px;
    width: 130px;
    display: block;
    text-align: right;
}

.ffButton {
    height: 24px;
    border: 1px solid #cdcdcd;
}

#browseButton {
    width: 24px;
    height: 19px;
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 5px;
}

    #browseButton:hover {
        background-color: #fefefe;
        cursor: pointer;
    }

    #browseButton:active {
        background-color: #aaa;
        cursor: pointer;
    }

#findButton {
    width: 24px;
    height: 24px;
    background: url("images/arrowNext.png") no-repeat 50% 50%;
    background-color: #f3f3f3;
}

    #findButton:hover {
        background-color: #fefefe;
        cursor: pointer;
    }

    #findButton:active {
        background-color: #aaa;
        cursor: pointer;
    }

#findAllButton {
    width: 70px;
    height: 19px;
    background-color: #f3f3f3;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 5px;
}

    #findAllButton:hover {
        background-color: #fefefe;
        cursor: pointer;
    }

    #findAllButton:active {
        background-color: #aaa;
        cursor: pointer;
    }

.editAreaHolder .wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

#sddm {
    margin: 0;
    padding: 0;
    z-index: 30;
}

    #sddm li {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
    }

        #sddm li a {
            display: block;
            margin: 0 1px 0 0;
            padding: 0px 0px;
            width: 10px;
            height: 10px;
            background: none;
            color: #FFF;
            text-align: center;
            text-decoration: none;
            background: url("images/menuArrow.png") no-repeat 50% 50%;
        }

#optionsMenu {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #808080;
    box-shadow: 2px 2px 2px #aaa;
}

#whereMenu {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #808080;
    box-shadow: 2px 2px 2px #aaa;
}

#fileTypesMenu {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #808080;
    box-shadow: 2px 2px 2px #aaa;
}

#sddm div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 2px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #ffffff;
    height: auto;
    color: #000000;
}

    #sddm div a:hover:not(.separator) {
        background: #49A3FF;
        color: #FFF;
    }


.bar {
    width: 100%;
    height: 22px;
    border: none;
    border-width: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cdcdcd;
    background-color: #f1f1f1;
    border-spacing: 0;
    padding: 0;
    visibility: hidden;
}


.block table {
}

.block.collapse table {
    display: none;
}

.block .collapseButton {
    background-image: url("images/unfolded.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: left;
}

    .block .collapseButton:hover {
        background-color: #f5f5f5;
    }

    .block .collapseButton:active {
        background-color: #c5c5c5;
    }

.block.collapse .collapseButton {
    background-image: url("images/folded.png");
}


.results {
    position: relative;
    width: 100%;
    border: none;
    padding: 0;
}

.fileIcon img {
    padding: 5px;
}


.button img {
    border-radius: 3px;
    padding: 5px;
}

.button:hover img {
    background-color: #f5f5f5;
    cursor: pointer;
}

.button:active img {
    background-color: #c5c5c5;
    cursor: pointer;
}

.file {
    border: none;
    border-width: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #cdcdcd;
    background-color: #e0e0e0;
    border-spacing: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

    .file img {
        margin-top: 3px;
        margin-bottom: -3px;
    }

.tableBlock {
    padding: 0;
    border: none;
    border-spacing: 0;
    margin: 0;
    font-size: 0.9em;
}

    .tableBlock table {
        border-collapse: collapse;
    }

    .tableBlock td {
        border: none;
        padding: 3px 0px;
        border-spacing: 0;
    }

        .tableBlock td:first-child {
            text-align: right;
            width: 40px;
        }

        .tableBlock td + td {
            padding: 3px 25px;
        }

    .tableBlock tr {
        border: none;
        border-width: 0;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #e2e2e2;
        cursor: pointer;
    }

    .tableBlock tr {
        background-color: #f8f8f8;
    }

        .tableBlock tr:hover {
            background-color: #e5e5e5;
        }

        .tableBlock tr:active {
            background-color: #dbdbdb;
        }

        .tableBlock tr.selected {
            background-color: #dbdbdb;
        }

.withLogo {
    background: url("images/logoBackground.png") no-repeat 50% 50% fixed;
}
